<%- include('partials/header.ejs'); -%>
<div>
   
        <h1><%= heading %></h1>
        
</div>
<div>
    <% for( let point of features){ %>
        <p><%= point.id %>.<%= point.content %></p>     
    <% } %>
     
</div>
    
    <%- include('partials/footer.ejs'); -%>